<!-- templates/index.html -->
{% extends 'base.html' %}

{% block title %}Домены{% endblock %}

{% block content %}
<h1>Список доменов</h1>
<ul>
    {% for domain in domains %}
        <li>
            <input type="checkbox" class="compare-checkbox" value="{{ domain.domain }}">
            {{ domain.domain }}
            <button class="stats-button" data-domain="{{ domain.domain }}">Статистика</button>
            <button class="chart-button" data-domain="{{ domain.domain }}">График</button>
        </li>
    {% endfor %}
</ul>
<p>
    <a href="#" id="settings-link">Настройки</a> |
    {% if session.get('logged_in') %}
        <a href="{{ url_for('auth_bp.logout') }}">Выйти</a>
    {% else %}
        <a href="#" id="login-link">Войти</a>
    {% endif %}
</p>
<button id="compare-button">Сравнить домены</button>
<button id="dashboard-button" onclick="location.href='/dashboard'">Дашборд</button>

<!-- Модальные окна -->
<div id="loginModal" class="modal">
    <div class="modal-content">
        <span class="close login-close">&times;</span>
        <h2>Вход в систему</h2>
        <div id="login-error" class="error-message" style="display: none;"></div>
        <form method="post" action="{{ url_for('auth_bp.login') }}">
            <label for="username">Логин:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="password">Пароль:</label>
            <input type="password" id="password" name="password" required><br><br>
            <input type="hidden" name="next" value="{{ request.path }}">
            <input type="submit" value="Войти">
        </form>
    </div>
</div>

<!-- Модальное окно статистики -->
<div id="statsModal" class="modal">
    <h2>Статистика для <span id="stats-domain"></span></h2>
    <span class="close stats-close">&times;</span>
    <div class="modal-content">
        <div id="stats-content"></div>
    </div>
</div>

<!-- Модальное окно для графика -->
<div id="chartModal" class="modal">
    <span class="close chart-close">&times;</span>
    <h2>График для <span id="chart-domain"></span></h2>
    <div class="modal-content">

        <!-- Настройки графика -->
        <div>
            <label for="chartType">Тип графика:</label>
            <select id="chartType">
                <option value="line">Линейный</option>
                <option value="bar">Столбчатый</option>
            </select>
        </div>

        <canvas id="metricsChart"></canvas>
    </div>
</div>

{% endblock %}

{% block scripts %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
document.addEventListener('DOMContentLoaded', function() {
    let metricsChart;
    const chartModal = document.getElementById('chartModal');
    const statsModal = document.getElementById('statsModal');
    const ctx = document.getElementById('metricsChart').getContext('2d');
    const chartClose = document.querySelector('.chart-close');
    const statsClose = document.querySelector('.stats-close');
    const statsDomain = document.getElementById('stats-domain');
    const statsContent = document.getElementById('stats-content');
    const chartDomain = document.getElementById('chart-domain');

    // Настройки для отображения графиков
    const chartConfig = {
        type: 'line',
        data: {
            labels: [],
            datasets: []
        },
        options: {
            responsive: true,
            maintainAspectRatio: false,
            plugins: {
                legend: {
                    display: true,
                    position: 'top'
                }
            },
            layout: {
                padding: {
                    left: 20,
                    right: 20,
                    top: 20,
                    bottom: 20
                }
            }
        }
    };

    // Функция для отображения статистики одного домена
    function fetchStats(domain) {
        fetch(`/get_stats?domain=${encodeURIComponent(domain)}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    statsContent.innerHTML = `<p>${data.error}</p>`;
                } else {
                    let html = ''; // Сброс истории замеров перед каждым новым запросом
                    html += '<h3>Статистика</h3>';
                    html += '<table><tr><th>Метрика</th><th>Мин.</th><th>50%</th><th>75%</th><th>95%</th><th>Макс.</th></tr>';
                    for (let metric in data.stats) {
                        html += `<tr>
                                    <td>${metric}</td>
                                    <td>${data.stats[metric].min !== null ? data.stats[metric].min + 's' : 'N/A'}</td>
                                    <td>${data.stats[metric].median !== null ? data.stats[metric].median + 's' : 'N/A'}</td>
                                    <td>${data.stats[metric].percentile_75 !== null ? data.stats[metric].percentile_75 + 's' : 'N/A'}</td>
                                    <td>${data.stats[metric].percentile_95 !== null ? data.stats[metric].percentile_95 + 's' : 'N/A'}</td>
                                    <td>${data.stats[metric].max !== null ? data.stats[metric].max + 's' : 'N/A'}</td>
                                 </tr>`;
                    }
                    html += '</table>';

                    // История замеров
                    // Сортируем данные по дате в порядке убывания
                    const sortedIndices = [...data.dates.keys()].sort((a, b) => new Date(data.dates[b]) - new Date(data.dates[a]));

                    // Создаем отсортированные массивы для дат и метрик
                    const sortedDates = sortedIndices.map(index => data.dates[index]);
                    const sortedFCP = sortedIndices.map(index => data.metrics.FCP[index]);
                    const sortedLCP = sortedIndices.map(index => data.metrics.LCP[index]);
                    const sortedTTFB = sortedIndices.map(index => data.metrics.TTFB[index]);
                    const sortedTBT = sortedIndices.map(index => data.metrics.TBT[index]);
                    const sortedINP = sortedIndices.map(index => data.metrics.INP[index]);
                    const sortedSI = sortedIndices.map(index => data.metrics['Speed Index'][index]);

                    // Генерация HTML с использованием отсортированных данных
                    html += '<h3>История замеров</h3>';
                    html += '<table><tr><th>Дата</th><th>FCP (s)</th><th>LCP (s)</th><th>TTFB (s)</th><th>TBT (s)</th><th>INP (s)</th><th>Speed Index (s)</th></tr>';
                    for (let i = 0; i < sortedDates.length; i++) {
                        html += `<tr>
                                    <td>${sortedDates[i]}</td>
                                    <td>${sortedFCP[i] !== null ? sortedFCP[i] + 's' : 'N/A'}</td>
                                    <td>${sortedLCP[i] !== null ? sortedLCP[i] + 's' : 'N/A'}</td>
                                    <td>${sortedTTFB[i] !== null ? sortedTTFB[i] + 's' : 'N/A'}</td>
                                    <td>${sortedTBT[i] !== null ? sortedTBT[i] + 's' : 'N/A'}</td>
                                    <td>${sortedINP[i] !== null ? sortedINP[i] + 's' : 'N/A'}</td>
                                    <td>${sortedSI[i] !== null ? sortedSI[i] + 's' : 'N/A'}</td>
                                 </tr>`;
                    }
                    html += '</table>';

                    statsContent.innerHTML = html;
                }
                statsDomain.textContent = domain;
                statsModal.style.display = 'block';
            });
    }

    // Функция для отображения графика одного домена
    function fetchData(domain) {
        fetch(`/get_stats?domain=${encodeURIComponent(domain)}`)
            .then(response => response.json())
            .then(data => {
                if (data.error) {
                    alert(data.error);
                    return;
                }

                chartConfig.data.labels = data.dates;
                chartConfig.data.datasets = [
                    {
                        label: `FCP - ${domain}`,
                        data: data.metrics.FCP,
                        borderColor: 'rgba(75, 192, 192, 1)',
                        backgroundColor: 'rgba(75, 192, 192, 0.2)',
                        fill: true
                    },
                    {
                        label: `LCP - ${domain}`,
                        data: data.metrics.LCP,
                        borderColor: 'rgba(153, 102, 255, 1)',
                        backgroundColor: 'rgba(153, 102, 255, 0.2)',
                        fill: true
                    },
                    {
                        label: `TTFB - ${domain}`,
                        data: data.metrics.TTFB,
                        borderColor: 'rgba(255, 159, 64, 1)',
                        backgroundColor: 'rgba(255, 159, 64, 0.2)',
                        fill: true
                    },
                    {
                        label: `TBT - ${domain}`,
                        data: data.metrics.TBT,
                        borderColor: 'rgba(255, 99, 132, 1)',
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        fill: true
                    },
                    {
                        label: `INP - ${domain}`,
                        data: data.metrics.INP,
                        borderColor: 'rgba(54, 162, 235, 1)',
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        fill: true
                    },
                    {
                        label: `Speed Index - ${domain}`,
                        data: data.metrics['Speed Index'],
                        borderColor: 'rgba(201, 203, 207, 1)',
                        backgroundColor: 'rgba(201, 203, 207, 0.2)',
                        fill: true
                    }
                ];

                if (metricsChart) metricsChart.destroy();
                metricsChart = new Chart(ctx, chartConfig);
                chartDomain.textContent = domain;
                chartModal.style.display = 'block';
            });
    }

        // Функция для сравнения графиков выбранных доменов
    function fetchComparisonData(domains) {
        const requests = domains.map(domain =>
            fetch(`/get_stats?domain=${encodeURIComponent(domain)}`).then(response => response.json())
        );

        Promise.all(requests)
            .then(results => {
                chartConfig.data.labels = results[0].dates;
                chartConfig.data.datasets = [];
                const colors = ['rgba(75, 192, 192, 1)', 'rgba(153, 102, 255, 1)', 'rgba(255, 159, 64, 1)', 'rgba(255, 99, 132, 1)', 'rgba(54, 162, 235, 1)', 'rgba(201, 203, 207, 1)'];

                results.forEach((data, index) => {
                    if (data.error) {
                        alert(`Ошибка для домена ${domains[index]}: ${data.error}`);
                        return;
                    }

                    chartConfig.data.datasets.push(
                        {
                            label: `FCP - ${domains[index]}`,
                            data: data.metrics.FCP,
                            borderColor: colors[index % colors.length],
                            backgroundColor: colors[index % colors.length].replace('1)', '0.2)'),
                            fill: true
                        },
                        {
                            label: `LCP - ${domains[index]}`,
                            data: data.metrics.LCP,
                            borderColor: colors[(index + 1) % colors.length],
                            backgroundColor: colors[(index + 1) % colors.length].replace('1)', '0.2)'),
                            fill: true
                        },
                        {
                            label: `TTFB - ${domains[index]}`,
                            data: data.metrics.TTFB,
                            borderColor: colors[(index + 2) % colors.length],
                            backgroundColor: colors[(index + 2) % colors.length].replace('1)', '0.2)'),
                            fill: true
                        },
                        {
                            label: `TBT - ${domains[index]}`,
                            data: data.metrics.TBT,
                            borderColor: colors[(index + 3) % colors.length],
                            backgroundColor: colors[(index + 3) % colors.length].replace('1)', '0.2)'),
                            fill: true
                        },
                        {
                            label: `INP - ${domains[index]}`,
                            data: data.metrics.INP,
                            borderColor: colors[(index + 4) % colors.length],
                            backgroundColor: colors[(index + 4) % colors.length].replace('1)', '0.2)'),
                            fill: true
                        },
                        {
                            label: `Speed Index - ${domains[index]}`,
                            data: data.metrics['Speed Index'],
                            borderColor: colors[(index + 5) % colors.length],
                            backgroundColor: colors[(index + 5) % colors.length].replace('1)', '0.2)'),
                            fill: true
                        }
                    );
                });

                if (metricsChart) metricsChart.destroy();
                metricsChart = new Chart(ctx, chartConfig);
                chartDomain.textContent = domains.join(', ');
                chartModal.style.display = 'block';
            })
            .catch(error => {
                alert('Ошибка при загрузке данных для сравнения.');
            });
    }

    // Обработчик кнопки "Сравнить выбранные домены"
    document.getElementById('compare-button').addEventListener('click', function() {
        const selectedDomains = Array.from(document.querySelectorAll('.compare-checkbox:checked'))
            .map(checkbox => checkbox.value);

        if (selectedDomains.length < 2) {
            alert('Выберите минимум два домена для сравнения.');
            return;
        }

        fetchComparisonData(selectedDomains);
    });

    // Закрытие модального окна для графика
    chartClose.onclick = function() {
        chartModal.style.display = 'none';
    };

    // Обработчики для кнопок "Статистика" и "График"
    document.querySelectorAll('.stats-button').forEach(button => {
        button.addEventListener('click', function() {
            const domain = button.getAttribute('data-domain');
            statsDomain.textContent = domain;
            fetchStats(domain);
        });
    });

    document.querySelectorAll('.chart-button').forEach(button => {
        button.addEventListener('click', function() {
            const domain = button.getAttribute('data-domain');
            chartDomain.textContent = domain;
            fetchData(domain);
        });
    });

    // Закрытие модального окна статистики
    statsClose.onclick = function() {
        statsModal.style.display = 'none';
    };

    // Обработчики для модальных окон авторизации и настроек
    const loggedIn = {{ 'true' if session.get('logged_in') else 'false' }};
    const settingsLink = document.getElementById('settings-link');
    const loginLink = document.getElementById('login-link');
    const loginModal = document.getElementById('loginModal');
    const loginClose = document.querySelector('.login-close');

    settingsLink.addEventListener('click', function(event) {
        if (!loggedIn) {
            event.preventDefault();
            loginModal.style.display = 'block';
        } else {
            window.location.href = "{{ url_for('auth_bp.settings') }}";
        }
    });

    if (loginLink) {
        loginLink.addEventListener('click', function(event) {
            event.preventDefault();
            loginModal.style.display = 'block';
        });
    }

    loginClose.onclick = function() {
        loginModal.style.display = 'none';
    };

    // Закрытие модальных окон при клике вне их
    window.onclick = function(event) {
        if (event.target == loginModal) {
            loginModal.style.display = 'none';
        } else if (event.target == statsModal) {
            statsModal.style.display = 'none';
        } else if (event.target == chartModal) {
            chartModal.style.display = 'none';
        }
    };
});
</script>
{% endblock %}
